* {
  transition: background 0.4s ease, color 0.4s ease, border 0.4s ease;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
body {
  opacity: 0;
  transition: opacity 1.5s ease;
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body.loaded {
  opacity: 1;
}
