/* HEADER */
.header {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 1.6rem 2rem;
  position: relative;
  background-color: var(--header-bg);
  box-shadow: 0 2px 6px var(--shadow-img);
} 
.logo {
  font-size: 1.3rem;
  font-weight: 800; 
  color: var(--primary); 
  position: absolute; 
  left: 3rem;  
} 
.nav {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 1.5rem; 
}
header span {
  font-size: 1.5rem;
  color: var(--accent);
  font-weight: 600;
}
.nav a { 
  color: var(--primary); 
  text-decoration: none; 
  font-weight: 600; 
  transition: 0.3s; 
  font-size: 1.2rem;
} 
.nav a:hover { 
  color: var(--accent); 
} 
.theme-btn { 
  position: absolute; 
  right: 8rem; 
  background: rgb(255, 220, 226); 
  border: 2px solid var(--accent); 
  color: var(--accent); 
  border-radius: 50%; 
  padding: 0.5rem 0.5rem; 
  cursor: pointer; 
  font-size: 1.6rem; 
  transition: 0.3s; 
} 
.theme-btn:hover { 
  background: var(--accent); 
  color: white; 
}
